/*
DESENVOLVEDOR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
LINKEDIN: https://www.linkedin.com/in/thalesacardoso/
DATA: 10/11/2025
*/

/***  FONTS ***/
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");


/*** VARIABLES & THEMES ***/
:root {
  --primary-color: #cf0f0f;
  --primary-color-contrast: #ffffff;
  --field-background-color: #000;
}

.light-theme {
  --page-background: linear-gradient(180deg,
      #ffffff 0%,
      #ffffff 65%,
      rgba(255, 255, 255, 0.75) 100%);
  --header-background-color: #e3e3e3;
  --highlight-color: #000000;
  --featured-font-family: "Archivo", sans-serif;
  --character-top-image-src: url("../images/characters/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;
  --character-bottom-image-src: url("../images/characters/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;
  --background-lamp-image: url("../images/backgrounds/lamps.png");
  --footer-background-color: #b5bbbf;
}

.dark-theme {
  --page-background: linear-gradient(180deg,
      #050000 0%,
      #130404 65%,
      rgba(19, 1, 1, 0.75) 100%);
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;
  --featured-font-family: "Rubik Glitch", sans-serif;
  --character-bottom-image-src: url("../images/characters/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);
  --character-top-image-src: url("../images/characters/inverted-world-monster.svg");
  --character-top-image-color: #000;
  --background-lamp-image: url("../images/backgrounds/lamps-inverted.png");
  --footer-background-color: #000;
}

.dark-theme button,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  letter-spacing: 5px;
  font-weight: normal;
}

.dark-theme .invert-element {
  transform: rotateZ(180deg) scaleX(-1);
}

/***** GENERIC STYLES *****/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  transition: 1s;
  list-style: none;
}

h1,
h2,
h3 {
  font-size: 3rem;
  font-family: var(--featured-font-family);
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 40px;
}

p {
  font-size: 1rem;
  color: var(--highlight-color);
}

p,
input,
textarea,
label {
  font-family: "Libre Baskerville", serif;
}

input,
textarea {
  border: 2px solid var(--primary-color-contrast);
  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
  padding: 8px;
  margin-bottom: 24px;
  font-size: 1rem;
}

label {
  margin-bottom: 8px;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  border-color: black;
}

button {
  padding: 16px 32px;
  background-color: transparent;
  font-weight: 900;
  font-family: var(--featured-font-family);
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 1s;
}


/***** HEADER STYLES *****/

header {
  background-color: var(--header-background-color);
  min-height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../images/banner/florest.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  filter: saturate(0);
  opacity: 0.2;
  z-index: 1;
}

.header-content {
  max-width: 700px;
  padding: 80px 20px;
  text-align: center;
  z-index: 2;
}

.header-content img {
  width: 80%;
}

.header-content p {
  margin: 30px 0 50px;
}

.header-content button {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.header-content button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

/***** WORLD CHARACTERS STYLES *****/

.world-characters {
  width: 100%;
  max-width: 900px;
  position: absolute;
}

#top-characters {
  height: 100%;
  background-color: var(--character-top-image-color);
  mask: var(--character-top-image-src) bottom / contain no-repeat;
}

#bottom-characters {
  height: 500px;
  background-color: var(--character-bottom-image-color);
  transform: rotateZ(180deg) scaleX(-1);
  position: relative;
  mask: var(--character-bottom-image-src) bottom / contain no-repeat;
}


/***** MAIN STYLES *****/

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--page-background) no-repeat, url(../images/backgrounds/florest.png) no-repeat;
  background-size: cover;
  z-index: -1;
}


/***** SECTION STYLES *****/

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

/***** SECTION 01 INVERTED WORLD *****/

.container {
  max-width: 1200px;
}

#section-inverted-world {
  align-items: center;
}

#section-inverted-world .section-texts {
  width: 50%;
}

#section-inverted-world .section-texts h2 {
  max-width: 300px;
}

/***** SECTION 02 STRANGER THINGS TRAILER *****/

#section-stranger-things-trailer .section-texts {
  width: 50%;
  text-align: right;
}

#section-stranger-things-trailer .section-texts h2 {
  width: 425px;
  display: inline-block;
}

#section-stranger-things-trailer .video-frame {
  background-color: var(--primary-color);
}

#section-stranger-things-trailer .video-frame iframe {
  width: 420px;
  height: auto;
  position: relative;
  bottom: 24px;
  left: 24px;
  border: 2px solid;
  border-image: linear-gradient(var(--primary-color),
      var(--primary-color-contrast));
  border-image-slice: 10;
  aspect-ratio: calc(16 / 9);
}

/***** SECTION 03 STRANGER THINGS GALLERY *****/

#section-stranger-things-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background: var(--background-lamp-image) 120% / 50% no-repeat;
}

#section-stranger-things-gallery h2 {
  width: 800px;
}

#section-stranger-things-gallery .gallery-container {
  display: flex;
  gap: 50px;
}

#section-stranger-things-gallery .gallery-image {
  width: 250px;
  height: 250px;
  outline: 20px solid var(--highlight-color);
  border: 3px solid var(--primary-color);
  box-sizing: initial;
}

#section-stranger-things-gallery .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid var(--highlight-color);
}

/***** SECTION 04 STRANGER THINGS FORM *****/

#section-form {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

#section-form h2 {
  width: 600px;
}

#section-form .form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-form .form-content h3 {
  color: var(--highlight-color);
  text-align: left;
  flex-basis: 30%;
}

#section-form .form-content h3 span {
  color: var(--primary-color);
}

#section-form .form-container {
  flex-basis: 50%;
  position: relative;
}

#section-form .form-container::after {
  content: "";
  background-color: var(--highlight-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: -1;
}

#section-form .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  text-align: left;
}

#section-form .form-container form button {
  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
  max-width: 300px;
  align-self: center;
}

#section-form .form-container form button:hover {
  background-color: var(--primary-color-contrast);
  color: var(--field-background-color);
}

/***** FOOTER STYLES *****/

footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

footer p {
  max-width: 700px;
  margin-bottom: 24px;
}

footer::before,
footer::after {
  content: "";
  width: 280px;
  height: 165px;
  background: url("../images/footer/tape.svg") no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -30px;
}

footer::before {
  left: -50px;
  transform: rotateZ(-10deg);
}

footer::after {
  right: -50px;
  transform: rotateZ(10deg);
}



/*******************************
    VERSÃO P/ NOTEBOOK
*******************************/

@media screen and (min-width:800px) and (max-width: 1050px) {

  .header-content {
    padding: 80px 2rem;
  }

  main {
    padding: 0 2rem 2rem;
  }

  section {
    gap: 16px;
    width: 100%;
    padding: 2rem 0;
  }

  h1,
  h2,
  h3 {
    font-size: 2.5rem;
  }

  #bottom-characters {
    height: 400px;
  }

  #section-inverted-world {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #section-inverted-world .section-texts,
  #section-inverted-world .invert-element {
    width: 100%;
  }

  #section-inverted-world .section-texts h2 {
    max-width: 100%;
  }

  #section-inverted-world .invert-element {
    max-width: 400px;
  }

  /***** TRAILER ***/

  #section-stranger-things-trailer {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  #section-stranger-things-trailer .section-texts,
  #section-stranger-things-trailer .section-texts h2,
  #section-stranger-things-trailer .video-frame iframe {
    width: 100%;
  }

  #section-stranger-things-trailer .video-frame {
    align-self: center;
  }

  #section-stranger-things-trailer .video-frame iframe {
    aspect-ratio: calc(16/9);
    position: inherit;
  }

  /***** GALLERY ***/

  #section-stranger-things-gallery {
    background: var(--background-lamp-image) 120% / 50% no-repeat;
  }

  #section-stranger-things-gallery h2 {
    width: 700px;
  }

  #section-stranger-things-gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  #section-stranger-things-gallery .gallery-image {
    width: auto;
    max-width: 200px;
    height: 100%;
    outline: 10px solid var(--highlight-color);
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
  }

  #section-stranger-things-gallery .gallery-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0;
  }

  /***** FORM ***/

  #section-form {
    gap: 16px;
  }

  #section-form h2 {
    margin-bottom: 16px;
  }

  #section-form .form-content {
    margin-top: 32px;
  }

  /***** FOOTER ***/

  footer::before,
  footer::after {
    content: "";
    width: 200px;
    height: 130px;
  }

}



/*******************************
    VERSÃO P/ TABLET
*******************************/

@media screen and (min-width:450px) and (max-width: 799.99px) {

  main {
    padding: 0 1rem 2rem;
    gap: 4rem;
  }

  section {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 0;
  }

  h1,
  h2,
  h3 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  #bottom-characters {
    height: 300px;
  }

  #section-inverted-world .section-texts,
  #section-inverted-world .invert-element {
    width: 100%;
  }

  #section-inverted-world .section-texts h2 {
    max-width: 100%;
  }

  #section-inverted-world .invert-element {
    margin-top: 16px;
    max-width: 400px;
  }

  /***** TRAILER ***/

  #section-stranger-things-trailer .section-texts,
  #section-stranger-things-trailer .section-texts h2,
  #section-stranger-things-trailer .video-frame iframe {
    width: 100%;
  }

  #section-stranger-things-trailer .section-texts {
    order: 1;
    text-align: left;
  }

  #section-stranger-things-trailer .video-frame {
    order: 2;
  }

  #section-stranger-things-trailer .video-frame iframe {
    aspect-ratio: calc(16/9);
    position: inherit;
  }

  /***** GALLERY ***/

  #section-stranger-things-gallery {
    background: none; 
    padding: 2rem 0;
  }

  #section-stranger-things-gallery h2 {
    width: auto;
  }

  #section-stranger-things-gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  #section-stranger-things-gallery .gallery-image {
    width: auto;
    max-width: 200px;
    height: 100%;
    outline: 10px solid var(--highlight-color);
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
  }

  #section-stranger-things-gallery .gallery-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0;
  }


  /***** FORM ***/

  #section-form h2,
  #section-form .form-content,
  #section-form .form-container,
  #section-form .form-container form {
    width: 100%;
  }

  #section-form {
    gap: 16px;
  }

  #section-form .form-content {
    flex-direction: column;
    margin-top: 20px;
  }

  #section-form .form-content h3 {
    text-align: center;
    margin: 32px 0 16px;
  }
  
  #section-form .form-content .form-container {
    max-width: 500px;
  }

  #section-form .form-content .form-container::after {
    left: 5px;
    top: 5px;
  }

  /***** FOOTER ***/

  footer {
    padding: 2rem 1rem;
  }

  footer::before,
  footer::after {
    display: none;
  }
}



/*******************************
    VERSÃO P/ SMARTPHONE
*******************************/

@media screen and (max-width: 450px) {

  main {
    padding: 0 1rem 2rem;
    gap: 2rem;
  }

  section {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 0;
  }

  h1,
  h2,
  h3 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  #bottom-characters {
    height: 210px;
  }

  #section-inverted-world .section-texts,
  #section-inverted-world .invert-element {
    width: 100%;
  }

  #section-inverted-world .section-texts h2 {
    max-width: 100%;
  }

  #section-inverted-world .invert-element {
    margin-top: 16px;
    max-width: 300px;
  }

  /***** TRAILER ***/

  #section-stranger-things-trailer .section-texts,
  #section-stranger-things-trailer .section-texts h2,
  #section-stranger-things-trailer .video-frame iframe {
    width: 100%;
  }

  #section-stranger-things-trailer .section-texts {
    order: 1;
    text-align: center;
  }

  #section-stranger-things-trailer .video-frame {
    order: 2;
  }

  #section-stranger-things-trailer .video-frame iframe {
    aspect-ratio: calc(16/9);
    position: inherit;
  }

  /***** GALLERY ***/

  #section-stranger-things-gallery {
    background: none; 
    padding: 2rem 0;
  }

  #section-stranger-things-gallery h2 {
    width: auto;
  }

  #section-stranger-things-gallery .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  #section-stranger-things-gallery .gallery-image {
    width: 100%;
    height: 100%;
    outline: 3px solid var(--highlight-color);
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
  }

  #section-stranger-things-gallery .gallery-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0;
  }


  /***** FORM ***/

  #section-form h2,
  #section-form .form-content,
  #section-form .form-container,
  #section-form .form-container form {
    width: 100%;
  }

  #section-form {
    gap: 16px;
  }

  #section-form .form-content {
    flex-direction: column;
    margin-top: 20px;
  }

  #section-form .form-content h3 {
    text-align: center;
    margin: 32px 0 16px;
  }
  
  #section-form .form-content .form-container {
    max-width: 500px;
  }

  #section-form .form-content .form-container::after {
    left: 5px;
    top: 5px;
  }

  /***** FOOTER ***/

  footer {
    padding: 2rem 1rem;
  }

  footer::before,
  footer::after {
    display: none;
  }
}